<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jobnextdoorfindjob">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobNextDoorFindJob.NoActionBar">
        <activity
            android:name=".JobSeekerSide.Activities.FilterActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JobSeekerSide.Activities.SavedJobActivity"
            android:exported="false" />
        <activity
            android:name=".JobSeekerSide.Activities.AppliedActivity"
            android:exported="true"></activity>
        <activity
            android:name=".JobSeekerSide.Activities.SuccessfulActivity"
            android:exported="true" />
        <activity
            android:name=".JobSeekerSide.Activities.ApplicationTwoActivity"
            android:exported="true" />
        <activity android:name=".JobSeekerSide.Activities.ApplicantionOneActivity" />
        <activity
            android:name=".JobSeekerSide.Activities.DrawerActivity"
            android:exported="false" />
        <activity
            android:name=".JobSeekerSide.Fragments.ReviewFragment"
            android:exported="false" />
        <activity
            android:name=".JobSeekerSide.Fragments.MapFragment"
            android:exported="false" />
        <activity
            android:name=".JobSeekerSide.Fragments.DescriptionFragment"
            android:exported="false" />
        <activity
            android:name=".JobSeekerSide.Activities.ApplyActivity"
            android:exported="false" />
        <activity
            android:name=".JobSeekerSide.Activities.FindJobHome"
            android:exported="false" />
        <activity
            android:name=".JobSeekerSide.Activities.FindJobIntrestSkill"
            android:exported="false" />
        <activity
            android:name=".JobSeekerSide.Activities.FirstProfileJobSeeker"
            android:exported="false" />
        <activity
            android:name=".DashBoard"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".JobSeekerSide.Activities.EmployerPostApply"
            android:exported="false" />
        <activity
            android:name=".JobSeekerSide.Activities.SeekApplyActivity"
            android:exported="false" />
        <activity
            android:name=".JobSeekerSide.Activities.EmployerActivity"
            android:exported="false" />
        <activity
            android:name=".JobSeekerSide.Activities.JobSearchActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <receiver
            android:name=".JobSeekerSide.Model.NotificationReciver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>