<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jobnextdoorfindjob">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobNextDoorFindJob">
        <activity
            android:name=".JobSeekerSide.Fragments.ReviewFragment"
            android:exported="false" />
        <activity
            android:name=".JobSeekerSide.Fragments.CompanyFragment"
            android:exported="false" />
        <activity
            android:name=".JobSeekerSide.Fragments.MapFragment"
            android:exported="false" />
        <activity
            android:name=".JobSeekerSide.Fragments.DescriptionFragment"
            android:exported="false" />
        <activity
            android:name="com.example.jobnextdoorfindjob.JobSeekerSide.Activities.ApplyActivity"
            android:exported="false" />
        <activity
            android:name="com.example.jobnextdoorfindjob.JobSeekerSide.Activities.FindJobHome"
            android:exported="false" />
        <activity
            android:name="com.example.jobnextdoorfindjob.JobSeekerSide.Activities.FindJobSecondprofile"
            android:exported="false" />
        <activity
            android:name="com.example.jobnextdoorfindjob.JobSeekerSide.Activities.FindjobfirstProfile"
            android:exported="false" />
        <activity
            android:name="com.example.jobnextdoorfindjob.JobSeekerSide.Activities.DashBoard"
            android:exported="false" />
        <activity
            android:name="com.example.jobnextdoorfindjob.SplashActivity"
            android:exported="false" />
        <activity
            android:name="com.example.jobnextdoorfindjob.JobSeekerSide.Activities.EmployerPostApply"
            android:exported="false" />
        <activity
            android:name="com.example.jobnextdoorfindjob.JobSeekerSide.Activities.SeekApplyActivity"
            android:exported="false" />
        <activity
            android:name="com.example.jobnextdoorfindjob.JobSeekerSide.Activities.EmployerActivity"
            android:exported="false" />
        <activity
            android:name="com.example.jobnextdoorfindjob.JobSeekerSide.Activities.JobSeekerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.jobnextdoorfindjob.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".JobSeekerSide.Model.NotificationReciver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>